@charset "UTF-8";
/*light*/
/*Medium*/
/*Bold*/
/*Heavy*/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.l-footer {
  height: 100%;
  width: 100%;
  z-index: -1;
  grid-row: 3/4;
}
@media screen and (min-width: 1200px) {
  .l-footer {
    width: 100%;
    position: unset;
  }
}
.l-footer__inner {
  height: 100%;
}

.l-header {
  height: 13rem;
  display: flex;
  position: absolute;
  grid-row: 1/2;
}
@media screen and (min-width: 781px) {
  .l-header {
    height: 13rem;
  }
}
@media screen and (min-width: 1200px) {
  .l-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.l-main {
  grid-row: 2/3;
  min-height: 100%;
}
@media screen and (min-width: 1200px) {
  .l-main {
    width: 100%;
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
.l-main__font {
  font-family: "M PLUS 1p", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  font-weight: 700;
}

.l-wrapper {
  display: grid;
  background-color: #efefef;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  overflow-x: hidden;
  min-height: 100vh;
  grid-template-rows: 5rem 1fr 1.5rem;
  grid-template-columns: 100%;
}
@media screen and (min-width: 1200px) {
  .l-wrapper {
    grid-template-rows: 13rem auto 1fr;
  }
}
.l-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../picture/background.jpeg");
  background-size: contain;
  background-position: center;
  opacity: 0.55;
  z-index: -3;
}
.l-wrapper.fix {
  overflow: hidden;
  max-height: 100vh;
}

.c-title__hero {
  font-size: 4.32vw;
  color: #707070;
}
@media screen and (min-width: 781px) {
  .c-title__hero {
    font-size: 4.32vw;
  }
}
@media screen and (min-width: 1200px) {
  .c-title__hero {
    font-size: 2.08vw;
  }
}
.c-title__contents {
  font-size: clamp(3.75rem, 6vw, 6.2rem);
}
.c-title__card {
  font-size: clamp(3.125rem, 4vw, 6.2rem);
  color: #707070;
}
.c-title__grid {
  font-size: １rem;
  color: #3E3E3E;
}
.c-title__grid--works {
  font-size: 1.5rem;
  color: #3E3E3E;
}

.c-button__contact--area {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10001;
}
@media screen and (min-width: 1200px) {
  .c-button__contact {
    cursor: pointer;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0;
    left: -0.7rem;
    z-index: 9998;
    background-color: rgba(239, 239, 239, 0.2);
    box-shadow: -4px -4px 8px #fff, 4px 4px 8px rgba(0, 0, 0, 0.24);
    transition: all 0.3s ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  .c-button__contact--text {
    position: static;
    z-index: 10002; /* リンクを前面に */
    cursor: pointer; /* 明示的に設定 */
  }
}

.c-text {
  color: #3E3E3E;
  font-size: 1rem;
  line-height: 2.5rem;
}
.c-text__center {
  text-align: center;
}
@media screen and (min-width: 781px) {
  .c-text__center--tab {
    text-align: center;
  }
}
.c-text__midium {
  font-size: 1.4rem;
}
.c-text__large {
  font-size: 1.2rem;
  color: #3E3E3E;
  line-height: 2.5rem;
}
@media screen and (min-width: 781px) {
  .c-text__large {
    font-size: 1.52rem;
  }
}
.c-text__grid--profile {
  font-size: 1.3rem;
}
@media screen and (min-width: 1200px) {
  .c-text__grid--profile {
    font-size: 1.55rem;
  }
}
.c-text__gray {
  color: #707070;
  font-size: 1rem;
  line-height: 2.5rem;
}
.c-text__required {
  color: #fc5050;
  font-size: 0.8rem;
  line-height: 2.5rem;
}

.c-link__list {
  cursor: pointer;
}
.c-link__list:link {
  color: #3E3E3E;
  text-decoration: none;
}
.c-link__list:visited {
  color: #3E3E3E;
  text-decoration: none;
}
.c-link__list:hover {
  color: #3E3E3E;
  text-decoration: underline;
  -webkit-text-decoration-color: #3E3E3E;
          text-decoration-color: #3E3E3E;
}
.c-link__list:focus {
  color: #3E3E3E;
  text-decoration: none;
}
.c-link__list:active {
  color: #3E3E3E;
  text-decoration: none;
}
.c-link__icon {
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.c-link__icon:link {
  color: #3E3E3E;
  text-decoration: none;
}
.c-link__icon:visited {
  color: #3E3E3E;
  text-decoration: none;
}
.c-link__icon:hover {
  color: #3E3E3E;
  transform: scale(1.1);
  -webkit-text-decoration-color: #3E3E3E;
          text-decoration-color: #3E3E3E;
}
.c-link__icon:focus {
  color: #3E3E3E;
  text-decoration: none;
}
.c-link__icon:active {
  color: #3E3E3E;
  text-decoration: none;
}
.c-link__hamburger {
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.c-link__hamburger:link {
  color: #3E3E3E;
  text-decoration: none;
}
.c-link__hamburger:visited {
  color: #3E3E3E;
  text-decoration: none;
}
.c-link__hamburger:hover {
  color: #3E3E3E;
  opacity: 0.6;
  text-decoration: underline;
  -webkit-text-decoration-color: #3E3E3E;
          text-decoration-color: #3E3E3E;
}
.c-link__hamburger:focus {
  color: #3E3E3E;
  text-decoration: none;
}
.c-link__hamburger:active {
  color: #3E3E3E;
  text-decoration: none;
}

.c-hamburger__button--open {
  display: block;
  content: "";
  background-color: #3E3E3E;
  width: 1.35rem;
  height: 0.08rem;
  position: absolute;
  top: 50%;
  right: 22.5%;
  z-index: 1;
}
@media screen and (min-width: 781px) {
  .c-hamburger__button--open {
    width: 2rem;
  }
}
.c-hamburger__button--open:before {
  position: absolute;
  top: -7px;
  right: 0;
  content: "";
  background-color: #3E3E3E;
  width: 1.35rem;
  height: 0.08rem;
}
@media screen and (min-width: 781px) {
  .c-hamburger__button--open:before {
    width: 2rem;
    top: -0.7rem;
  }
}
.c-hamburger__button--open:after {
  position: absolute;
  top: 7px;
  right: 0;
  content: "";
  background-color: #3E3E3E;
  width: 1.35rem;
  height: 0.08rem;
}
@media screen and (min-width: 781px) {
  .c-hamburger__button--open:after {
    width: 2rem;
    top: 0.7rem;
  }
}
.c-hamburger__button--close {
  display: none;
  content: "";
  background-color: none;
  width: 1.6rem;
  height: 0.08rem;
  position: absolute;
  top: 50%;
  right: 19.4%;
  z-index: 2;
}
@media screen and (min-width: 781px) {
  .c-hamburger__button--close {
    width: 2.6rem;
    right: 11.4%;
  }
}
.c-hamburger__button--close:before {
  position: absolute;
  content: "";
  background-color: #3E3E3E;
  width: 1.6rem;
  height: 0.08rem;
  rotate: 45deg;
}
@media screen and (min-width: 781px) {
  .c-hamburger__button--close:before {
    width: 2.6rem;
  }
}
.c-hamburger__button--close:after {
  position: absolute;
  content: "";
  background-color: #3E3E3E;
  width: 1.6rem;
  height: 0.08rem;
  rotate: -45deg;
}
@media screen and (min-width: 781px) {
  .c-hamburger__button--close:after {
    width: 2.6rem;
  }
}
.c-hamburger__button--close.is-appear {
  display: block;
  visibility: visible;
}
.c-hamburger__button--area {
  cursor: pointer;
  position: fixed;
  top: 0.5rem;
  right: 3.3%;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: rgba(239, 239, 239, 0.2);
  box-shadow: -4px -4px 8px #fff, 4px 4px 8px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease-in-out;
  z-index: 999;
}
.c-hamburger__button--area.is-square {
  border-radius: 0%;
}
@media screen and (min-width: 781px) {
  .c-hamburger__button--area {
    top: 1.5rem;
    right: 2.5%;
    height: 3.5rem;
    width: 3.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .c-hamburger__button--area {
    display: none;
  }
}

.c-solid__before {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: rgba(188, 186, 186, 0.8);
}
@media screen and (min-width: 1200px) {
  .c-solid__before {
    margin: 0 5% 0 0;
  }
}
@media screen and (min-width: 375px) {
  .c-solid__before::before {
    display: flex;
    content: "";
    width: 30%;
    height: 0.125rem;
    margin-right: 5%;
    margin-left: 5%;
    background-color: rgba(188, 186, 186, 0.8);
  }
}
@media screen and (min-width: 1200px) {
  .c-solid__before::before {
    display: flex;
    content: "";
    height: 0.125rem;
    width: 60%;
    margin-right: 3rem;
    background-color: rgba(188, 186, 186, 0.8);
  }
}
@media screen and (min-width: 375px) {
  .c-solid__before::after {
    display: flex;
    content: "";
    width: 30%;
    height: 0.125rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(188, 186, 186, 0.8);
  }
}
@media screen and (min-width: 1200px) {
  .c-solid__before::after {
    display: none;
  }
}
@media screen and (min-width: 375px) {
  .c-solid__after::before {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .c-solid__after::before {
    display: flex;
    content: "";
    height: 0.125rem;
    width: 60%;
    margin-left: 3rem;
    background-color: rgba(188, 186, 186, 0.8);
  }
}
.c-solid__area {
  width: 89.3%;
  margin: 0 auto;
}
@media screen and (min-width: 781px) {
  .c-solid__area {
    width: 100%;
    margin: 0;
  }
}

.c-icon__mobile {
  font-size: 8rem;
  color: rgba(188, 186, 186, 0.8);
  margin: 4rem;
}
.c-icon__git {
  font-size: 1.3rem;
}
.c-icon__link {
  font-size: 1.3rem;
}
.c-icon__link + .c-icon__git {
  margin-right: 1rem;
}

.c-image__square {
  display: block;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 13.5rem;
  height: 13.5rem;
  max-height: 25rem;
  max-width: 25rem;
}
@media screen and (min-width: 781px) {
  .c-image__square {
    width: 16.3rem;
    height: 16.3rem;
  }
}
@media screen and (min-width: 1200px) {
  .c-image__square {
    max-height: none;
    max-width: none;
  }
}

.c-label {
  height: 1.66rem;
  width: 100%;
}
.c-label__message {
  height: 26rem;
  width: 100%;
}
.c-label__send {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: rgba(188, 186, 186, 0.55);
  color: #3E3E3E;
  font-size: 1rem;
  border: solid 0.15px #707070;
  border-radius: 4px;
  width: clamp(4rem, 28%, 6rem);
  cursor: pointer;
  transition: background-color 0.3s;
}
.c-label__send:hover {
  background-color: #707070;
  color: #efefef;
}
@media screen and (min-width: 781px) {
  .c-label__send {
    width: 18%;
  }
}

.p-hero {
  display: flex;
  align-items: center;
  width: 100%;
  aspect-ratio: 375/285;
  /*&__menu{
      background-image: url(../../picture/three-burgers-zoom.jpg);
      background-repeat: no-repeat;
      background-size: 270%;
      background-position: 14.27% 46.8%;
      width: 100%;
      aspect-ratio: 375/285;
      position: relative;
      z-index: 10;
          @include g.tab{
          aspect-ratio: 834/285;
          background-size: 120%;
          background-position: calc(50% - 0%) calc(50% - 3.5%);
          width: 100%;
          }
          @include g.pc{
          background-image: url(../../picture/threeburgers.jpeg);
          aspect-ratio: 1553 /239;
          background-size: 105%;
          background-position: 10% 48%;
          }
  }*/
  /*&__single{
      aspect-ratio: 375/225;
  }*/
}
@media screen and (min-width: 1200px) {
  .p-hero {
    aspect-ratio: 1553/530;
  }
}
.p-hero__background {
  width: 100%;
  position: absolute;
  z-index: -2;
  height: auto;
  aspect-ratio: 700/480;
}
@media screen and (min-width: 1200px) {
  .p-hero__background {
    width: 70%;
    left: 14.7%;
    aspect-ratio: 1197/581;
  }
}
.p-hero__background--image {
  width: 100%;
  position: absolute;
  z-index: -2;
}
@media screen and (min-width: 1200px) {
  .p-hero__background--image {
    width: 59%;
    left: 20.3%;
  }
}
.p-hero__imageArea {
  position: relative;
  overflow: hidden;
  z-index: 10;
  width: 100%;
  height: auto;
  aspect-ratio: 375/285;
}
@media screen and (min-width: 781px) {
  .p-hero__imageArea {
    aspect-ratio: 834/285;
  }
}
@media screen and (min-width: 1200px) {
  .p-hero__imageArea {
    aspect-ratio: 1553/239;
  }
}
.p-hero__title--area {
  display: flex;
  flex-direction: column;
  padding-left: 6.7%;
  font-size: 9.6vw;
  color: #FFFFFF;
}
@media screen and (min-width: 781px) {
  .p-hero__title--area {
    font-size: 4.32vw;
    padding-left: 10.3%;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .p-hero__title--area {
    font-size: 2.08vw;
    padding-left: 5.6%;
  }
}
.p-hero__title--menu {
  line-height: 2.637rem;
  font: 700 2.25rem "Roboto", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  margin-bottom: 12px;
}
@media screen and (min-width: 781px) {
  .p-hero__title--menu {
    font-size: 3.75rem;
    margin: 0%;
  }
}
.p-hero__title--menucontent {
  font-size: 1rem;
  line-height: 1.485rem;
}
@media screen and (min-width: 781px) {
  .p-hero__title--menucontent {
    padding-left: 2.2%;
  }
}
@media screen and (min-width: 1200px) {
  .p-hero__title--menucontent {
    font-size: 0.83vw;
    padding-top: 12px;
  }
}
.p-hero__singleArea {
  display: flex;
  align-items: center;
  position: relative;
}

.p-footer__text {
  display: block;
  color: #3E3E3E;
}
@media screen and (min-width: 375px) {
  .p-footer__text {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 781px) {
  .p-footer__text {
    font-size: 1.25rem;
  }
}
.p-footer__copyright {
  display: block;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  font-size: 0.81rem;
  height: 100%;
  line-height: 1.5rem;
  color: #3E3E3E;
}
.p-footer__solid {
  display: block;
  border-top: solid 1px rgba(188, 186, 186, 0.8);
  height: 100%;
}

.p-menu {
  cursor: pointer;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100dvh;
  min-height: 100%;
  z-index: 1000;
  visibility: inherit;
  overflow-y: auto;
}
.p-menu__menulist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
  font-size: 2rem;
}
.p-menu__list {
  color: #3E3E3E;
  padding: 5.18rem 0;
}
.p-menu__inner {
  position: relative;
  font-size: 1rem;
  background-color: #efefef;
  z-index: 0;
  min-height: auto;
}
@media screen and (min-width: 781px) {
  .p-menu__inner {
    font-size: 1.5rem;
  }
}
.p-menu__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../picture/background.jpeg");
  background-size: contain;
  background-position: center;
  opacity: 0.55;
  z-index: -1;
}
@media screen and (min-width: 1200px) {
  .p-menu {
    display: none;
  }
}
.p-menu.open {
  right: 0;
}

.p-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 89.3%;
  gap: 1.25rem;
  margin: 0 auto;
}
@media screen and (min-width: 781px) {
  .p-grid {
    display: grid;
    width: 86.32%;
    grid-template-columns: 1fr 1fr;
    row-gap: 3.25rem;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .p-grid {
    width: 85%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.p-grid__cell {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  z-index: 1000;
}
.p-grid__image {
  grid-row: 1/2;
  width: 80%;
}
.p-grid__text {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.7rem;
}
.p-grid__icon {
  display: flex;
  gap: 46%;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .p-block__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
    margin: 0 auto;
  }
}

.p-link__footer {
  cursor: pointer;
}
.p-link__footer:link {
  color: #FFFFFF;
  text-decoration: none;
}
.p-link__footer:visited {
  color: #FFFFFF;
  text-decoration: none;
}
.p-link__footer:hover {
  color: #FFFFFF;
  text-decoration: underline;
  -webkit-text-decoration-color: #FFFFFF;
          text-decoration-color: #FFFFFF;
}
.p-link__footer:focus {
  color: #FFFFFF;
  text-decoration: none;
}
.p-link__footer:active {
  color: #FFFFFF;
  text-decoration: none;
}

.p-header__inner {
  position: relative;
  width: 100%;
}
.p-header__title {
  display: flex;
  font: 700 2.5rem "Roboto", Noto Sans JP, MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  color: #3E3E3E;
}
@media screen and (min-width: 1200px) {
  .p-header__title {
    margin: 0;
    padding: 0;
    font-size: 4rem;
    line-height: 4.6875rem;
  }
}
.p-header__title > a {
  cursor: pointer;
}
.p-header__title > a:link {
  color: #707070;
  text-decoration: none;
}
.p-header__title > a:visited {
  color: #707070;
  text-decoration: none;
}
.p-header__title > a:hover {
  color: #707070;
  text-decoration: none;
  -webkit-text-decoration-color: #707070;
          text-decoration-color: #707070;
}
.p-header__title > a:focus {
  color: #707070;
  text-decoration: none;
}
.p-header__title > a:active {
  color: #707070;
  text-decoration: none;
}
.p-header__nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .p-header__nav {
    display: flex;
    align-items: center;
    margin-right: 1.875rem;
    width: 28rem;
    height: 5.8rem;
    right: 2.5rem;
    top: 4.4%;
    background-color: rgba(239, 239, 239, 0.8);
    position: fixed;
    z-index: 9999;
    border-radius: 10%/50%;
  }
}
.p-header__navarea {
  display: flex;
  align-items: center;
}
.p-header__menulist {
  display: flex;
  align-items: center;
  width: 27.44rem;
  gap: 8.71%;
  position: fixed;
  top: unset;
  right: 3rem;
  font-family: "Noto Sans JP", MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
}
.p-header__logo {
  position: absolute;
  left: 0;
  top: 1rem;
  width: clamp(1rem, 66vw, 18rem);
}
@media screen and (min-width: 781px) {
  .p-header__logo {
    left: 1rem;
    top: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .p-header__logo {
    top: -4rem;
    width: auto;
  }
}
.p-header__logo--area {
  position: relative;
}

.p-card {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8% 0;
  position: relative;
  z-index: -1;
}
@media screen and (min-width: 1200px) {
  .p-card {
    padding: 5% 0;
  }
}

.p-swiper {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.p-swiper__wrapper {
  /* wrapperのサイズを調整 */
  width: 100%;
  height: 100%;
}
.p-swiper__slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
}
.p-swiper__slide:nth-child(3n+1) {
  /*1、4、7、3n+1枚目の背景色 */
  background-color: #3E3E3E;
}
.p-swiper__slide:nth-child(3n+2) {
  /*2、5、8、3n+2枚目の背景色 */
  background-color: #707070;
}
.p-swiper__slide:nth-child(3n+3) {
  /*3、6、9、3n+3枚目の背景色 */
  background-color: rgba(188, 186, 186, 0.8);
}
.p-swiper__slide img {
  max-width: 90%;
  max-height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 0 auto;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.swiper-slide img {
  width: 45.25% !important;
  position: absolute;
  aspect-ratio: 1/1;
}

.swiper-button-next::after {
  color: #FFFFFF !important;
}

.swiper-button-prev::after {
  color: #FFFFFF !important;
}

.swiper-pagination-bullets {
  position: absolute;
  bottom: 22.7% !important;
}
.swiper-pagination-bullet {
  --swiper-theme-color: white;
}

.p-slide__in {
  opacity: 0;
  transform: translateY(100px);
  visibility: hidden;
}

.p-modal__portfolio {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  visibility: hidden;
  pointer-events: none;
  /*&.is-close {
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
    pointer-events: none;
    }*/
}
@media screen and (min-width: 1200px) {
  .p-modal__portfolio {
    height: 100%;
    aspect-ratio: unset;
  }
}
.p-modal__portfolio.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.p-modal__content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: scale(0.8);
  transition: transform 0.4s ease;
}
.p-modal__portfolio.is-open .p-modal__content {
  transform: scale(1);
}
.p-modal__close {
  position: absolute;
  top: 3rem;
  right: 3.44rem;
  font-size: clamp(4rem, 4.7vw, 20rem);
  width: 6.5rem;
  height: 10.5rem;
  z-index: 100000000;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .p-modal__close {
    top: 5rem;
    right: 8.5rem;
  }
}

.js-open-modal {
  position: relative;
  z-index: 99999999999999;
  cursor: pointer;
  transition: 0.3s;
}
.js-open-modal:hover {
  transform: scale(1.08);
}

.p-title__hero {
  display: flex;
  align-items: center;
  padding-left: 6.7%;
  position: relative;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 781px) {
  .p-title__hero {
    padding-left: 10.3%;
  }
}
@media screen and (min-width: 1200px) {
  .p-title__hero {
    padding-left: 5.5%;
  }
}
.p-title__grid--area {
  grid-row: 2/3;
}

.p-grid-profile {
  display: grid;
  width: 85%;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  min-height: auto;
  font-weight: 400;
}
@media screen and (min-width: 1200px) {
  .p-grid-profile {
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 5rem;
  }
}
.p-grid-profile__cell--image {
  grid-row: 1/2;
  justify-self: center;
  margin-bottom: 4.84rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 13%;
     object-position: 50% 13%;
}
@media screen and (min-width: 1200px) {
  .p-grid-profile__cell--image {
    justify-self: right;
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: 4rem;
    margin-right: 20%;
  }
}
.p-grid-profile__cell--textarea {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
@media screen and (min-width: 1200px) {
  .p-grid-profile__cell--textarea {
    line-height: 2.68rem;
    justify-self: center;
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
.p-grid-profile__cell--textarea-text {
  grid-row: 1/2;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .p-grid-profile__cell--textarea-text {
    grid-column: 1/3;
    padding: 0 0 0 35.2%;
    margin: 0;
  }
}
.p-grid-profile__cell--textarea-name {
  grid-row: 2/3;
}
.p-grid-profile__cell--textarea2 {
  line-height: 1.9rem;
}
@media screen and (min-width: 1200px) {
  .p-grid-profile__cell--textarea2 {
    grid-column: 2/3;
    grid-row: 2/3;
    line-height: 2.78rem;
  }
}

.p-contact {
  display: flex;
  flex-direction: column;
  width: 80.3%;
  row-gap: 1rem;
}
@media screen and (min-width: 781px) {
  .p-contact {
    width: 36.5rem;
    max-width: 89.3%;
  }
}
.p-contact__textarea {
  width: 80.3%;
}

#smooth-content {
  padding-top: 7rem;
  overscroll-behavior: contain;
}
@media screen and (min-width: 1200px) {
  #smooth-content {
    padding-top: 13rem;
  }
}

.p-smooth__background {
  position: relative;
  background-color: #efefef;
  z-index: 1;
}
.p-smooth__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../picture/background.jpeg");
  background-size: contain;
  background-position: center;
  opacity: 0.55;
  z-index: -3;
}

.u-margin__center {
  margin: 0 auto;
}
.u-margin__center--large-pc {
  margin: 5rem auto;
}
@media screen and (min-width: 1200px) {
  .u-margin__center--large-pc {
    margin: 2.44rem;
  }
}
.u-margin__top {
  margin-top: 6rem;
}
.u-margin__top--small {
  margin-top: 3rem;
}
.u-margin__top--xsmall {
  margin-top: 1rem;
}
.u-margin__top--card {
  margin-top: 1rem;
}
@media screen and (min-width: 781px) {
  .u-margin__top--card {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .u-margin__top--card {
    margin-top: 3rem;
  }
}
.u-margin__top--send {
  margin-top: 2.5rem;
}
.u-margin__midium--center {
  margin: 5rem auto;
}
.u-margin__bottom--card {
  margin-bottom: 3.4375rem;
}
.u-margin__bottom--contact {
  margin-bottom: 7rem;
}
.u-margin__text--card {
  margin: 0 5%;
}

.u-width {
  width: 89.3%;
}
@media screen and (min-width: 781px) {
  .u-width {
    width: 85.49%;
  }
}
@media screen and (min-width: 1200px) {
  .u-width {
    width: 87.12%;
  }
}

.u-lineheight {
  line-height: 1.485rem;
}
.u-lineheight__large {
  line-height: 2.5rem;
}
@media screen and (min-width: 1200px) {
  .u-lineheight__large {
    line-height: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .u-padding__left {
    padding-left: 5.5%;
  }
}

.u-weight__medium {
  font-weight: 400;
}
.u-weight__bold {
  font-weight: 700;
}

.u-text__small {
  font-size: 1.2rem;
}

.u-center__text {
  display: flex;
  justify-self: center;
}

.u-font {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.u-none {
  display: none;
}
/*# sourceMappingURL=style.css.map */