@use "../../foundation/global/index" as g;

.c-button{
    &__contact--area{
        cursor: pointer;
        width: 5rem;
        height: 5rem;
        position: relative;
        display: flex;
        align-items: center;
        z-index: 10001;
    }
    
    &__contact{ 
        @include g.pc{
            cursor: pointer;
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            position: absolute;
            top: 0;
            left: -0.7rem;
            z-index: 9998;
            background-color: rgba(239, 239, 239, 0.2);
            box-shadow:
            -4px -4px 8px #fff,
            4px 4px 8px rgb(0 0 0 / 24%);
            transition: all 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                box-shadow:
                  -2px -2px 4px #fff,
                  2px 2px 4px rgb(0 0 0 / 24%);
            }
        }
    } 

    &__contact--text{
        @include g.pc{
            position: static;
            z-index: 10002; /* リンクを前面に */
            cursor: pointer; /* 明示的に設定 */
        }

    }
}