@use "../../foundation/global/index" as g;

.c-hamburger{
    &__button--open{
        display: block;
        content: "";
        background-color: g.$color-black;
        width: 1.35rem;
        height: 0.08rem;
        position: relative;
        top: 50%;
        @include g.tab{
            width: 2.6rem;
        }
        &:before{
            position: absolute;
            top:-7px;
            right:0;
            content: "";
            background-color: g.$color-black;
            width: 1.35rem;
            height: 0.08rem;
            @include g.tab{
                width: 2.6rem;
                top: -0.75rem;
            }
        }
        &:after{
            position: absolute;
            top:7px;
            right:0;
            content: "";
            background-color: g.$color-black;
            width: 1.35rem;
            height: 0.08rem;
            @include g.tab{
                width: 2.6rem;
                top: -0.75rem;
            }
        }
    }
    &__button--close{
        display: none;
        content: "";
        background-color: none;
        width: 1.6rem;
        height: 0.08rem;
        position: relative;
        top:50%;
        @include g.tab{
            width: 2.6rem;
        }
        &:before{
            position: absolute;
            content: "";
            background-color: g.$color-black;
            width: 1.6rem;
            height: 0.08rem;
            rotate: 45deg;
            @include g.tab{
                width: 2.6rem;
            }
        }
        &:after{
            position: absolute;
            content: "";
            background-color: g.$color-black;
            width: 1.6rem;
            height: 0.08rem;
            rotate: -45deg;
            @include g.tab{
                width: 2.6rem;
            }
        }
        &.is-appear{
            display: block;
        }
    }
    &__button--area{
        cursor: pointer;
        position: fixed;
        top:0rem;
        right: -1.7%;
        height: 2.62rem;
        width: 2.62rem;
        @include g.tab{
            top: 1.5rem;
            right: 2.5%;
        }
        @include g.pc{
            display: none;
        }
    }
}