@use "../../foundation/global/index" as g;

.c-hamburger{
    &__button--open{
        display: block;
        content: "";
        background-color: g.$color-black;
        width: 1.35rem;
        height: 0.08rem;
        position: absolute;
        top: 50%;
        right: 22.5%;
        z-index:1;
        @include g.tab{
            width: 2rem;
        }
        &:before{
            position: absolute;
            top:-7px;
            right:0;
            content: "";
            background-color: g.$color-black;
            width: 1.35rem;
            height: 0.08rem;
            @include g.tab{
                width: 2rem;
                top: -0.7rem;
            }
        }
        &:after{
            position: absolute;
            top:7px;
            right:0;
            content: "";
            background-color: g.$color-black;
            width: 1.35rem;
            height: 0.08rem;
            @include g.tab{
                width: 2rem;
                top: 0.7rem;
            }
        }
    }
    &__button--close{
        display: none;
        content: "";
        background-color: none;
        width: 1.6rem;
        height: 0.08rem;
        position: absolute;
        top:50%;
        right: 19.4%;
        z-index: 2;
        @include g.tab{
            width: 2.6rem;
            right: 11.4%;
        }
        &:before{
            position: absolute;
            content: "";
            background-color: g.$color-black;
            width: 1.6rem;
            height: 0.08rem;
            rotate: 45deg;
            @include g.tab{
                width: 2.6rem;
            }
        }
        &:after{
            position: absolute;
            content: "";
            background-color: g.$color-black;
            width: 1.6rem;
            height: 0.08rem;
            rotate: -45deg;
            @include g.tab{
                width: 2.6rem;
            }
        }
        &.is-appear{
            display: block;
            visibility: visible;
        }
    }
    &__button--area{
        cursor: pointer;
        position: fixed;
        top:0.5rem;
        right: 3.3%;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        background-color: rgba(239, 239, 239, 0.2);
        box-shadow:
        -4px -4px 8px #fff,
        4px 4px 8px rgb(0 0 0 / 24%);
        transition: all 0.3s ease-in-out;
        z-index: 999;
        &.is-square{
            border-radius: 0%;
        }
        @include g.tab{
            top: 1.5rem;
            right: 2.5%;
            height: 3.5rem;
            width: 3.5rem;
        }
        @include g.pc{
            display: none;
        }
        &:hover {
            box-shadow:
              -2px -2px 4px #fff,
              2px 2px 4px rgb(0 0 0 / 24%);
        }
    }
}