@use "../../foundation/global/index" as g;

.c-icon{
    &__mobile{
    font-size: 8rem;
    color: g.$color-lightGray;
    margin: 4rem;
    }
    &__git{
        font-size: 1.3rem;
    }
    &__link{
        font-size: 1.3rem;
        & + .c-icon__git{
            margin-right: 1rem;
        }
    }
    
}