@use "../../foundation/global/index" as g;

.c-image{
    &__round{
        display: block;
        border-radius: 50%;
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 61.7%;
        max-height: 25rem;
        max-width: 25rem;
        @include g.pc{
            max-height: none;
            max-width: none;
        }
    }
}