@use "../../foundation/global/index" as g;

.c-link{
    &__list{
        cursor: pointer;
        &:link{
            color: g.$color-black;
            text-decoration: none;
        }
        &:visited{
            color: g.$color-black;
            text-decoration: none;
        }
        &:hover{
            color: g.$color-black;
            text-decoration: underline;
            text-decoration-color: g.$color-black;
        }
        &:focus{
            color: g.$color-black;
            text-decoration: none;
        }
        &:active{
            color: g.$color-black;
            text-decoration: none;
        } 
    }
    &__icon{
        cursor: pointer;
        transition: opacity 0.3s ease;
        &:link{
            color: g.$color-black;
            text-decoration: none;
        }
        &:visited{
            color: g.$color-black;
            text-decoration: none;
        }
        &:hover{
            color: g.$color-black;
            transform: scale(1.1);
            text-decoration-color: g.$color-black;
        }
        &:focus{
            color: g.$color-black;
            text-decoration: none;
        }
        &:active{
            color: g.$color-black;
            text-decoration: none;
        } 
    }
    &__hamburger{
        cursor: pointer;
        transition: opacity 0.3s ease;
        &:link{
            color: g.$color-black;
            text-decoration: none;
        }
        &:visited{
            color: g.$color-black;
            text-decoration: none;
        }
        &:hover{
            color: g.$color-black;
            opacity: 0.6;
            text-decoration: underline;
            text-decoration-color: g.$color-black;
        }
        &:focus{
            color: g.$color-black;
            text-decoration: none;
        }
        &:active{
            color: g.$color-black;
            text-decoration: none;
        } 
    }
    
}