@use "../../foundation/global/index" as g;

.c-text{
    color: g.$color-gray;
    font-size: 1rem;
    line-height: 2.5rem;
    &__center{
        text-align: center;
    }
    &__large{
        font-size: 2rem;
        color: g.$color-gray;
        line-height: 2.5rem;
    }
}