@use "../../foundation/global/index" as g;

.u-width{
    width: 89.3%;
    @include g.tab{
        width:85.49%;//713px
    }
    @include g.pc{
        width: 87.12%;//1353px
    }
}

//HTMLではまだ全て使われていない