@use "../../foundation/global/index" as g;

$block: 'is-style';
//Service
.#{$block}-card-left{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8% 0;
    position: relative;
    z-index: -1;
    //opacity: 0;
    //transform: translateY(100px);
    //visibility: hidden;
    @include g.tab{
        margin-top: 2rem;
    }
    @include g.pc{
        padding: 5% 0;
        margin-top: 3rem;
    }
  }
.#{$block}-card-right{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8% 0;
    position: relative;
    z-index: -1;
    margin-bottom: 3.4375rem;
    //opacity: 0;
    //transform: translateY(100px);
    //visibility: hidden;
    @include g.tab{
        margin-top: 2rem;
    }
    @include g.pc{
        padding: 5% 0;
        margin-top: 3rem;
    }
  }
.#{$block}-card-center{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8% 0;
    position: relative;
    z-index: -1;
    //opacity: 0;
    //transform: translateY(100px);
    //visibility: hidden;
    @include g.tab{
        margin-top: 2rem;
    }
    @include g.pc{
        padding: 5% 0 5% 1%;
        margin-top: 3rem;
    }
  }
.#{$block}-service-heading {
    font-size: clamp(3.125rem,4vw,6.2rem);
    color: g.$color-gray;
  }
.#{$block}-card-wrap{
    margin-top: 3rem;
    @include g.pc{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 85%;
        margin: 0 auto;
    }
    >.wp-block-column
    >.wp-block-font-awesome-icon{
            font-size: 8rem;
            color: g.$color-lightGray;
            margin: 4rem;
    }
}
.#{$block}-service-centense{
    margin: 0 5%;
    line-height: 2.5rem;
}
//profile
.#{$block}-grid-profile{
    display: grid;
    width: 85%;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr ;
    min-height: auto;
    font-weight: 400;
    margin:5rem auto;
    @include g.pc{
        width: 80%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        row-gap: 5rem;
    }
}
.#{$block}-profile
>img{
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 13.5rem;
    height: 13.5rem;
    max-height: 25rem;
    max-width: 25rem;
    grid-row: 1/2;
    justify-self: center;
    margin-bottom:4.84rem;
    object-fit: cover;
    object-position: 50% 13%;
    @include g.tab{
        width: 16.3rem;
        height: 16.3rem;
    }
    @include g.pc{
        max-height: none;
        max-width: none;
        justify-self: right;
        grid-row: 2/3;
        grid-column: 1/2;
        margin-top: 4rem;
        margin-right: 20%;
    }
}
.#{$block}-grid-profile-textarea-1{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    @include g.pc{
        line-height: 2.68rem;
        justify-self: center;
        grid-column: 1/3;
        grid-row: 1/2;
    }
}
.#{$block}-profile-text-1{
    font-size: 1.3rem;
    line-height: 2.5rem;
        @include g.pc{
            font-size: 1.55rem;
            line-height: 3rem;
        }
}
.#{$block}-grid-profile-textarea-2{
    line-height: 1.9rem;
    @include g.pc{
        grid-column: 2/3;
        grid-row: 2/3;
        line-height: 2.78rem;
    }
}
.#{$block}-profile-text-2{
    font-size: 1.3rem;
    margin: 5rem auto;
    @include g.pc{
        margin: 2.44rem;
        font-size: 1.55rem;
    }
}
//works
.#{$block}-grid-works{
    display: grid;
    grid-template-columns: 1fr !important;
    align-items: center;
    width: 89.3%;
    gap: 1.25rem;//20px
    margin: 6rem auto 0 auto;
    @include g.tab{
    display: grid; 
    width: 86.32%;
    grid-template-columns: 1fr 1fr !important;
    row-gap: 3.25rem;
    column-gap: 1.25rem;
    }
    @include g.pc{
        width: 85%;
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}
.#{$block}-grid-cell-works{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    place-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
    z-index: 1000;
}
.#{$block}-works-image
>figure{
    display: flex !important;
    justify-content: center;
    >img{
    grid-row: 1/2;
    width: 80%;
    }
}
.#{$block}-works-textarea{
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.7rem;
}
.#{$block}-work-heading{
    grid-row: 2/3;
    margin-top: 1rem;
}
.#{$block}-work-description{
    line-height: 2.5rem;
    margin: 0 5%;
    text-align: center;
}
.#{$block}-icon-left
>div{
    cursor: pointer;
    transition: opacity 0.3s ease;
    &:link{
        color: g.$color-black;
        text-decoration: none;
    }
    &:visited{
        color: g.$color-black;
        text-decoration: none;
    }
    &:hover{
        color: g.$color-black;
        transform: scale(1.1);
        text-decoration-color: g.$color-black;
    }
    &:focus{
        color: g.$color-black;
        text-decoration: none;
    }
    &:active{
        color: g.$color-black;
        text-decoration: none;
    } 
    >ul>li{
        margin-right: 10px !important;
    } 
}
.#{$block}-icon-right
>div{
    cursor: pointer;
    transition: opacity 0.3s ease;
    &:link{
        color: g.$color-black;
        text-decoration: none;
    }
    &:visited{
        color: g.$color-black;
        text-decoration: none;
    }
    &:hover{
        color: g.$color-black;
        transform: scale(1.1);
        text-decoration-color: g.$color-black;
    }
    &:focus{
        color: g.$color-black;
        text-decoration: none;
    }
    &:active{
        color: g.$color-black;
        text-decoration: none;
    } 
    >ul>li{
        margin-left: 10px !important;
    } 
}

//contact
.#{$block}-contact-text{
    width:80.3%;
    margin: 5rem auto;
    line-height: 2.5rem;
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    @include g.tab{
        text-align: center;
    }
}

.smf-form{
    display: flex;
    flex-direction: column;
    width: 80.3%;
    row-gap: 1rem;
    margin:5rem auto;
    font-size: 1.2rem;
    color: g.$color-black;
    line-height: 2.78rem;
    font-weight: g.$bold;
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    @include g.tab{
        font-size: 1.52rem;
        width: 36.5rem;
        max-width: 89.3%;
    }
}

.smf-item__label{
    margin-bottom: 1rem;
}

.smf-text-control__control{
    width: 100%;
    height: 2.03rem;
}

.smf-textarea-control__control{
    width: 100%;
    height: 26rem;
}

.smf-button-control__control{
    display: flex !important;
    justify-content: center;
    margin: 2.5rem auto 7rem auto;
    padding: 0.5rem;
    background-color: g.$color-lightGrayT;
    color: g.$color-black;
    font-size: 1rem;
    border: solid 0.15px g.$color-gray !important;
    border-radius: 4px !important;
    width: clamp(4rem,28%,6rem);
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    &:hover {
      background-color: g.$color-grayT !important;
      color: g.$color-darkBlack !important;
      background-image: none;
    }
    @include g.tab {
        width: 18%;
    }
}
