@use "../../foundation/global/index" as g;

.p-swiper {
    width:auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    &__wrapper {
    /* wrapperのサイズを調整 */
    width: 100%;
    height: 100%;
  }
  
  &__slide {
    /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 300px;
    &:nth-child(3n + 1) {
        /*1、4、7、3n+1枚目の背景色 */
        background-color: g.$color-black;
    }
    &:nth-child(3n + 2) {
        /*2、5、8、3n+2枚目の背景色 */
        background-color: g.$color-gray;
    }  
    &:nth-child(3n + 3) {
    /*3、6、9、3n+3枚目の背景色 */
        background-color: g.$color-lightGray;
  }
}
}

//swiperのスタイル

  
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  