@use "../foundation/global/index" as g;

.l-footer{
    height: 100%;
    width: 100%;
    z-index:-1;
    grid-row:3/4;
    @include g.pc{
        width: 100%;
        position: unset;
    }
    &__inner{
        height: 100%;
    }
}