@use "../foundation/global/index" as g;

.l-main{
    grid-row: 2/3;
    min-height: 100%;
        @include g.pc{
            width: 100%;
            grid-row:2/3;
            grid-column:1/2;
        }
    &__font {
        font-family: g.$fontMp;
        font-weight: g.$bold;//700
        }
}